/*全体のスタイル設定*/
h1, p, body {
    margin: 0px;
}

p, a{
    font-size: 20px;
}

/*ヘッダーの設定*/
header {
    margin-bottom: 20px;
    background-color: rgb(244, 79, 79);
    text-align: center;
}

header > h1 {
    color: rgb(255, 255, 255);
}

/*メインの設定*/
main {
    margin: 10px;
}

#main-parent {
    display: flex;
    justify-content: space-around;
}

.flexbox-item {
    border: solid 3px rgb(238, 204,204);
    flex-basis: 20%;
    padding: 10px 15px;
    margin: 20px 0px;
    justify-content: center;
    text-align: center;
}

h2{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    text-decoration: underline 5px dotted rgb(236, 122, 122);
}

h2::before{
    content: "●";
    color: rgb(239, 111, 139);
}

div p:nth-of-type(2)::first-letter{
        font-weight: bold;
        color: rgb(97, 206, 249);
}

.flexbox-item > img {
    margin: 10px 0px;
    width: 70%;
}

/*フッターの設定*/
footer {
    background-color: rgb(244, 79, 79);
    text-align: center;
}

footer > a {
    color: rgb(255, 255, 255);
}

a:visited {
    color: rgb(193, 234, 251);
}

a:hover {
    color: rgb(245, 178, 168);
}

@media screen and (max-width: 768px) {
    #main-parent {
        flex-direction: column;
    }

    h2 {
        font-size: 30px;
    }

    p {
        font-size: 25px;
    }

}


