/* 一番上の図形 */
#top {
    width: 800px;
    background-color: #dcc9f4;
    margin: 20px auto;
    text-align: center;
}

.top-child {
    width: 20%;
    display: inline-block;
    background-color:  #ffd9df;
}

/* 真ん中の図形 */
#middle {
    width: 800px;
    height: 800px;
    background-color: #ffd9df;
    margin: 20px auto;
    position: relative;
}

#middle-child01 {
    width: 200px;
    height: 200px;
    background-color: #87ceeb;
    position: absolute;
    top: 100px;
    left: 100px;
}

#middle-child02 {
    width: 200px;
    height: 200px;
    background-color: #87ceeb;
    position: absolute;
    top: 300px;
    left: 300px;
}

#middle-child03 {
    width: 200px;
    height: 200px;
    background-color: #87ceeb;
    position: absolute;
    top: 500px;
    left: 500px;
}

/* 一番下の図形 */
#bottom {
    width: 800px;
    height: 300px;
    background-color: #87ceeb;
    margin: auto;
}

#bottom-child01 {
    width: 400px;
    height: 100px;
    background-color: #e5dcf0;
    display: block;
    position: relative;
}

#bottom-child02 {
    width: 400px;
    height: 100px;
    background-color: #e5dcf0;
    display: block;
    position: relative;
    left: 200px;
}

#bottom-child03 {
    width: 400px;
    height: 100px;
    background-color: #e5dcf0;
    display: block;
    position: relative;
    left: 400px;
}