/* 一番上の図形 */
#header-parent {
    width: 800px;
    background-color: #dcc9f4;
    margin: 20px auto;
    text-align: center;
}

.header-inline-text {
    width: 20%;
    display: inline-block;
    background-color: pink;
}

/* 真ん中の図形 */
#main-parent {
    width: 800px;
    height: 800px;
    background-color: #ffd9df;
    margin: 20px auto;
    position: relative;
}

#main-child1 {
    width: 200px;
    height: 200px;
    background-color: #87ceeb;
    position: absolute;
    top: 100px;
    left: 100px;
}

#main-child2 {
    width: 200px;
    height: 200px;
    background-color: #87ceeb;
    position: absolute;
    top: 300px;
    left: 300px;
}

#main-child3 {
    width: 200px;
    height: 200px;
    background-color: #87ceeb;
    position: absolute;
    top: 500px;
    left: 500px;
}

/* 一番下の図形 */
#footer-parent {
    width: 800px;
    height: 300px;
    background-color: #87ceeb;
    margin: auto;
}

#footer-child1 {
    width: 400px;
    height: 100px;
    background-color: #e5dcf0;
    display: block;
    position: relative;
}

#footer-child2 {
    width: 400px;
    height: 100px;
    background-color: #e5dcf0;
    display: block;
    position: relative;
    left: 200px;
}

#footer-child3 {
    width: 400px;
    height: 100px;
    background-color: #e5dcf0;
    display: block;
    position: relative;
    left: 400px;
}